body {
  background-color: rgb(17, 22, 34);
  background: linear-gradient(135deg, rgba(17, 22, 34, 1) 0%, rgba(17, 22, 34, 1) 42%, rgba(32, 33, 83, 1) 83%, rgba(45, 40, 85, 1) 96%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fixer {
  background-color: rgba(251, 229, 77, 1);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.fixer p {
  margin: 0;
}

.fixer h4 {
  font-weight: 700;
  margin: 0;
}

.green {
  color: #10BE71;
}

.red {
  color: #F2695A;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;
}

.hide-card {
  display: none;
  position: absolute;
}

.card__two {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  overflow: hidden;
  padding: 0;
  perspective: 1000;
  position: relative;
}

.card__wrapper {
  -webkit-transform-style: preserve-3d;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: center center;
  -webkit-transition-timing-function: linear;
  -webkit-transition: -webkit-transform 300ms;
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  transform-origin: center center;
  transition-timing-function: linear;
  transition: -webkit-transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  transition: transform 300ms;
  width: 100%;
}

.card__wrapper .front {
  -webkit-transform: rotateY(0deg);
  align-items: center;
  background-image: url('../../public/darkcat.png');
  background-position: center;
  background-size: cover;
  color: #FFF;
  display: flex;
  font-size: 30px;
  justify-content: center;
  opacity: 0.5;
  transform: rotateY(0deg);
}

.card__wrapper .back {
  -webkit-transform: rotateY(180deg);
  align-items: center;
  background: #2B2930;
  color: #D12F2D;
  display: flex;
  font-size: 20px;
  justify-content: center;
  transform: rotateY(180deg);
}

.clever.front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.clever.back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}